#  .gitignore忽略文件格式规范
# 1.以#开头的是注释
# 2.以/结尾的是目录
# 3.以/开头防止递归
# 4.以!开头表示取反(不忽略)
# 5.可以使用glob(简化的正则表达式)进行文件和文件夹匹配:
#   *匹配零个或多个任意字符
#   [abc] 匹配任何一个在方括号中的字符
#   ? 只匹配一个任意字符
#   - 短划线表示范围 [0-9] 表示匹配0-9的数字
#   ** 表示匹配任意中间目录 a/**/z
###例子:
#  *.a         忽略所有 .a 的文件
#  !lib.a      不忽略lib.a
#  /todo       只忽略当前目录下的todo文件,不忽略fubfi/todo
#  build/      忽略任何目录下的build文件夹
#  doc/*.txt   忽略doc/notes.txt,但不忽略doc/ser/arch.txt
#  doc/**/*.txt  忽略doc及其所有子目录下的.txt文件

## 仓库中忽略的文件
indes.html



